/*
//cool grid pattern
.jumbotron {
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}
*/
.jumbotron {
    background-color: #223565;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f26e8a' fill-opacity='0.61'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /*
    background-size: 100% 50%;
    color: white;
    background-color: #342832;
    */
}
#greet {
    text-align: center;
    padding: 10% 10% 5% 10%;
    color: white;
    font-size: 55px;

}
#jumbotext {
    text-align: left;
    padding: 2% 10% 10% 10%;
    color: white;
    font-size: 50px;
}
#header{
    height: 100vh;
}
#projects {
    color: white;
}
#wioclogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: auto;
    border-radius: 20%;
}
#navmenu {
    height: 100px;
}